@let iconColor = '#69533f';

<app-auth [isFirstVisit]="true">
  <form class="w-full mt-10 md:mt-6 2xl:mt-10" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="mb-6">
      <app-input
        data-testid="password-field"
        id="Password"
        label="Password"
        [type]="isFirstPasswordVisible() ? 'text' : 'password'"
        [hasIcon]="true"
        iconPosition="right"
        placeholder="**********************"
        [control]="passwordForm.controls.password"
        [errorMessage]="checkFieldError(passwordForm, 'password') ?? ''"
        [required]="true"
      >
        <app-button
          [title]="isFirstPasswordVisible() ? 'Hide Password' : 'View Password'"
          variant="tertiary"
          customStyles="!p-0"
          (clickEvent)="togglePasswordVisibility('first')"
        >
          <lucide-icon
            [img]="isFirstPasswordVisible() ? icons.Eye : icons.EyeClosed"
            [size]="18"
            [color]="iconColor"
          />
        </app-button>
      </app-input>
    </div>

    <app-input
      data-testid="confirm-password-field"
      id="Confirm Password"
      label="Confirm Password"
      [type]="isSecondPasswordVisible() ? 'text' : 'password'"
      [hasIcon]="true"
      iconPosition="right"
      placeholder="**********************"
      [control]="passwordForm.controls.confirmPassword"
      [errorMessage]="checkFieldError(passwordForm, 'confirmPassword') ?? ''"
      [required]="true"
    >
      <app-button
        [title]="isSecondPasswordVisible() ? 'Hide Password' : 'View Password'"
        variant="tertiary"
        customStyles="!p-0"
        (clickEvent)="togglePasswordVisibility('second')"
      >
        <lucide-icon
          [img]="isSecondPasswordVisible() ? icons.Eye : icons.EyeClosed"
          [size]="18"
          [color]="iconColor"
        />
      </app-button>
    </app-input>

    @if (!checkFieldError(passwordForm, 'password')) {
      <p class="xl:text-sm text-xs text-left">
        Passwords must be at least 12 characters with letters, numbers, and symbols
      </p>
    }

    <app-button
      title="Sign in button"
      variant="primary"
      customStyles="w-full xl:mt-10 mt-6 justify-center align-item flex"
      type="submit"
      [disabled]="passwordForm.invalid || isLoading()"
    >
      @if (isLoading()) {
        <div class="animate-spin w-fit">
          <lucide-icon [img]="icons.Loader" [size]="18" color="#69533f" />
        </div>
      } @else {
        <p>Confirm</p>
      }
    </app-button>
  </form>
</app-auth>
