@let isBusyWithAuthFlow =
  isVerifying() || isResettingPassword() || (isSendingVerificationCode() && this.step() === 1);

<form class="w-full mt-10 md:mt-6 2xl:mt-10" [formGroup]="resetForm">
  @switch (step()) {
    @case (1) {
      <app-input
        data-testid="email-field"
        id="Email"
        label="Email"
        placeholder="name@example.com"
        [hasIcon]="true"
        iconPosition="left"
        [control]="resetForm.controls.email"
        [errorMessage]="checkFieldErrors(resetForm, 'email') ?? ''"
      >
        <app-button title="Email" variant="tertiary" customStyles="!p-0">
          <lucide-icon [img]="icons.Mail" [size]="18" color="#69533f" />
        </app-button>
      </app-input>
    }

    @case (2) {
      <app-input
        data-testid="verification-code-field"
        id="Verification Code"
        label="Verification Code"
        [control]="resetForm.controls.verificationCode"
        [errorMessage]="checkFieldErrors(resetForm, 'verificationCode') ?? ''"
      />
    }

    @case (3) {
      <div class="pb-6">
        <app-input
          data-testid="password-field"
          id="New Password"
          label="New Password"
          [type]="isFirstPasswordVisible() ? 'text' : 'password'"
          [hasIcon]="true"
          iconPosition="right"
          placeholder="**********************"
          [control]="resetForm.controls.newPassword"
          [errorMessage]="checkFieldErrors(resetForm, 'newPassword') ?? ''"
        >
          <app-button
            [title]="isFirstPasswordVisible() ? 'Hide Password' : 'View Password'"
            variant="tertiary"
            customStyles="!p-0"
            (clickEvent)="togglePasswordVisibility('first')"
          >
            <lucide-icon
              [img]="isFirstPasswordVisible() ? icons.Eye : icons.EyeClosed"
              [size]="18"
              color="#69533f"
            />
          </app-button>
        </app-input>

        <p class="text-left mt-2 text-xs md:text-sm">
          Passwords must be at least 12 characters with letters, numbers, and symbols
        </p>
      </div>

      <app-input
        data-testid="confirm-password-field"
        id="Confirm Password"
        label="Confirm Password"
        [type]="isSecondPasswordVisible() ? 'text' : 'password'"
        [hasIcon]="true"
        iconPosition="right"
        placeholder="**********************"
        [control]="resetForm.controls.confirmPassword"
        [errorMessage]="checkFieldErrors(resetForm, 'confirmPassword') ?? ''"
      >
        <app-button
          [title]="isSecondPasswordVisible() ? 'Hide Password' : 'View Password'"
          variant="tertiary"
          customStyles="!p-0"
          (clickEvent)="togglePasswordVisibility('second')"
        >
          <lucide-icon
            [img]="isSecondPasswordVisible() ? icons.Eye : icons.EyeClosed"
            [size]="18"
            color="#69533f"
          />
        </app-button>
      </app-input>
    }

    @default {
      <div class="flex flex-col justify-center items-center gap-3 mb-4">
        <img
          src="/images/success.png"
          alt="success-checkmark"
          class="w-16 h-16 my-4 2xl:w-20 2xl:h-20 2xl:my-8"
        />
        <h3 class="font-bold text-lg">Reset Successful</h3>
        <p class="text-xs md:text-sm">
          Your password has been successfully reset. Please login to continue
        </p>
      </div>
    }
  }

  @if (step() !== 4) {
    <app-button
      [title]="getStepButtonLabel()"
      customStyles="w-full mt-3 justify-center align-center flex"
      [disabled]="isCurrentStepInvalid()"
      type="button"
      (clickEvent)="step() === 3 ? reset() : advanceStep()"
    >
      @if (isBusyWithAuthFlow) {
        <app-loader />
      } @else {
        {{ getStepButtonLabel() }}
      }
    </app-button>
  }

  @if (step() === 2) {
    <app-button
      variant="tertiary"
      title="Resend verification code"
      customStyles="mt-4"
      type="button"
      (clickEvent)="sendCode(true)"
      [disabled]="isSendingVerificationCode()"
    >
      <p class="inline-block underline text-xs md:text-sm">Resend Code</p>
    </app-button>
  }
</form>
